@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model List<Crash>

<div class="row m-1 p-1">

    @*put filters here*@
    <div id="types" class="col-3"> 
        <p>Utah</p>
        <p>Utah</p>
        <p>Utah</p>
    </div>

    <div class="col-9">
        <div class="text-center">
            <h1 class="display-4">Utah Vehicle Crash Information</h1>
        </div>

        <div>
            <a href="/Home/CreateCrashForm" class="btn btn-success">Add Crash</a>
            <a href="/Account/Logout" class="btn btn-success">Logout</a>
        </div>

        <table class="table table-sm table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Crash ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Route No</th>
                    <th>Milepoint</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Main Road</th>
                    <th>City</th>
                    <th>County</th>
                    <th>Crash Severity</th>
                    <th>Tags</th>
                    @*<th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>
                    <th>Team</th>*@


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>11279400</td>
                    <td>2019 Dec 23</td>
                    <td>2:07:00 PM</td>
                    <td>3418</td>
                    <td>0.181</td>
                    <td>4,563,644.088</td>
                    <td>414,323.3686</td>
                    <td>1741 W 2550 S; WELLS CARGO TRAILER</td>
                    <td>OGDEN</td>
                    <td>WEBER</td>
                    <td>1</td>

                    <td>
                        <span class="badge rounded-pill bg-primary text-light">Unrestrained</span>
                        <span class="badge rounded-pill bg-primary text-light">Teenage Driver Involved</span>

                    </td>

                    <td>
                        @*insert ID parameter*@
                        <a class="btn btn-warning btn-sm" href="/Home/UpdateCrashForm/">Edit</a>
                    </td>
                    <td>
                        @*insert ID parameter*@
                        <a class="btn btn-danger btn-sm" href="/Home/DeleteCrash/">Delete</a>
                    </td>
                </tr>
                }
            </tbody>


        </table>

    </div>
</div>

